# 顯示當前電腦系統的時間

In [26]:
from datetime import datetime as dt
print(dt.now())

2021-01-24 09:57:50.079935

# 日期格式化

In [9]:
import datetime
datetime_dt = datetime.datetime.today() # 獲得當地時間
datetime_str = datetime_dt.strftime("%Y/%m/%d %H:%M:%S")  # 格式化日期
print(datetime_dt)
print(datetime_str)

2021-01-24 09:24:33.167713
2021/01/24 09:24:33

# 時差的作法

In [25]:
import datetime
datetime_dt = datetime.datetime.today()
time_delta =  datetime.timedelta(hours = 8) # 假設時差8小時
new_dt = datetime_dt + time_delta # 本地時間+8小時
datetime_format = new_dt.strftime("%Y/%m/%d %H:%M:%S") # 格式化日期
print(datetime_dt)
print(time_delta)
print(datetime_format)

2021-01-24 09:57:23.073055
8:00:00
2021/01/24 17:57:23

In [3]:
import pandas as pd
pd.read_csv("test.csv")

  name     sex  age  height  weight
0   小明    male   15     154      56
1   小美  female   23     165      54
2   小華    male   43     175      65
3   小東  female   23     156      54
4   小溪    male   54     154      63